# Virtual Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Data & Models (Too large for GitHub)
KDDTrain+.txt
*.csv
model/model.pkl
model/encoders.pkl
model/label_encoder.pkl

# IDE / System files
.DS_Store
.vscode/
.idea/
